/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
  
li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li {        
    display: flex;
    align-items: center;
    padding: 20px;
}

