.landing-page{
    text-align: center;
}

h1 {
    margin-top: 500px; 
    text-align: center;
    font-size: 100px;
}

.welcome {
    margin-top: 270px; 
    text-align: center;
    font-size: 80px;
}

