* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: url(https://images.unsplash.com/photo-1519817914152-22d216bb9170?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80);
    background-size: cover;
    background-attachment: fixed;
}

.navbar-container {
    display: flex;
    padding: 30px;
    width: 100%;
    background-color: white;
    justify-content: space-between;
}

li {
    font-size: 20px;
    list-style: none;
    background-color: white;
    padding: 2px;
}

.navbar-nav {
    text-decoration: none;
    background-color:  white;
    color: black;
}

footer {
    text-align: center;
    font-size: 16px;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}






